/* You can add global styles to this file, and also import other style files */
@import './app/utils/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
  width: 11px;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #958c8c;
}

::-webkit-scrollbar-thumb {
  background: #7deaaf;
  border-radius: 8px;
  border: 2px solid #958c8c;

  &:hover {
    background: #80a4e8;
  }
}

.mat-dialog-container {
  background: $thirty-color;
  color: $text-color;
  padding: 20px !important;
  border-radius: 10px !important;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0,0,0,.6);
}
