@import '../../utils/mixins';

:host {
  .day-forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $sidebar-color;
    padding: 20px;
    border-radius: 10px;

    &__title {
      color: $text-color;
    }

    &__temp {
      display: flex;
      margin-top: 30px;

      &--min {
        color: $text-color;
      }

      &--max {
        color: $secondary-color;
        margin-left: 15px;
      }
    }
  }

  mat-icon {
    width: 57px;
    height: 62px;
    margin-top: 10px;
    margin-right: 10px;
  }
}
